// ---------- absolute ---------- //
@mixin top-left($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin top-right($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin bottom-left($bottom, $left) {
  position: absolute;
  bottom: $bottom;
  left: $left;
}

@mixin bottom-right($bottom, $right) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

// ---------- fixed ---------- //

@mixin fixed-top-left($top, $left) {
  position: fixed;
  top: $top;
  left: $left;
}

@mixin fixed-top-right($top, $right) {
  position: fixed;
  top: $top;
  right: $right;
}
