/* main color */
$main: #1FCC79;
//#8e44ad;
// $secondary-color: #2980b9;

/* text color */
$text: #000;
$light-text-2: #222;
$light-text-3: #333;
$light-text-5: #555;
$light-text-6: #666;
$light-text-7: #777;
$light-text-10: #aaa;
$light-text-11: #bbb;
$light-text-14: #ddd;
$light-text-16: #fff;

/* defined colors */
$lighter-background: #eee;
$text-on-main-light: #fff;
$exit: #f00;
$error: #f00;
